@import "./variables.scss";


.card {

    -moz-perspective: 150rem;
    perspective: 150rem;
    position: relative;
    height: 52rem;
    &__side {
        background-color: orangered;
        height: 52rem;
        font-size: 2rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {

            transform: rotateY(180deg);


            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark)
            }
        }
    }




    &:hover &__side--front {
        transform: rotateY(-180deg)
    }

    &:hover &__side--back {
        transform: rotateY(0)
    }

    //Front Side Styling
    &-picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(/Natours/starter/img/nat-5.jpg)
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(/Natours/starter/img/nat-4.jpg)
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-teritary-dark), url(/Natours/starter/img/nat-3.jpg)
        }
    }

    &-heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &-heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-direction-break:clone ;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom,
                    rgba($color-secondary-light, .85),
                    rgba($color-secondary-dark, .85))
        }
        &--2 {
            background-image: linear-gradient(to right bottom,
                    rgba($color-primary-light, .85),
                    rgba($color-primary-dark, .85))
        }
        &--3 {
            background-image: linear-gradient(to right bottom,
                    rgba($color-teritary-dark, .850),
                    rgba($color-teritary-dark, .85))
        }
    }

    &-details{
        padding: 3rem;

        ul{
            list-style: none;
            width: 80%;
            margin :0 auto;

            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(last-child){
                    border-bottom: 1px solid $color-grey-light-1;
                }
            }
        }
    }

    &-cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width:90%;
        text-align: center;
    }

    &-price-box{
        text-align: center;
        color:$color-white;
        margin-bottom: 8rem;
    }

    &-price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &-price-value{
        font-size: 6rem;
        font-weight: 100;
    }
}

.btn--green{
    background-color: $color-primary;
    color:$color-white;
}

.color-white{
    color:#fff;
}

