$color-primary:#7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-teritary-dark:#5643fa;




$color-black:#000;
$color-black-dark:#000;
$color-white:#fff;
$color-grey-dark:#777;

$color-grey-light-1:#f7f7f7;
$color-grey-dark-2:#999;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


$default-font-size:1.6rem;